// @import url("https://www.w3schools.com/w3css/4/w3.css");

html,
body {
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom right, #332d2d, #c0ddce);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.firstRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100% !important;
  margin-bottom: 1rem;

}

.contentBlock {
  margin: 0.5rem;
  background: #f2f7f8c5;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  padding: 2rem;
  width: 100%;
  height: 100%;
}

.parameter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.sliderDiv {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.sliderLabel {
  font-size: 0.9rem;
}

.sliderValue {
  margin: 0.2rem 0rem 0.5rem;
  font-size: 0.7rem;
  align-items: center;
}

.coefSlider{
  width: 50%;
}

.title {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.parameterHeader{
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
}

.parameterTextInput{
  // @extend .w3-border;
  // @extend .w3-round-large;
  width: 5.4rem;
}
