html,
body {
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  background: #dadada;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.firstRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100% !important;
  margin-bottom: 1rem;
}

.contentBlock {
  margin: 0.5rem;
  background: rgba(242, 247, 248, 0.7725490196);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  padding: 2rem;
  width: 100%;
  height: revert;
}

.parameter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.sliderDiv {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.sliderValue {
  margin: 0.2rem 0rem 0.5rem;
  font-size: 0.7rem;
  align-items: center;
}

.coefSlider {
  width: 50%;
}

.title {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: left;
}

.parameterHeader {
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
}

.parameterTextInput {
  width: 5.4rem;
}

.tooltip {
  position: absolute;
  left: 0;
  bottom: 18px;
}

.criteriaText {
  margin-bottom: 2rem;
}

.criteriaDescription {
  font-size: smaller;
  font-style: italic;
}

.result {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.hidden {
  display: none;
}
